// reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//generics
* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// header
header {
    div {
        width: 1200px;
        margin: auto;
        margin-top: 10px;
        display: flex;
        align-items: center;
        height: 100px;

        figure {
            width: 20%;

            img {
                height: auto;
            }
        }

        ul {
            display: flex;
            margin-left: 500px;
            list-style-type: none;

            li {
                margin-left: 10px;

                a {
                    color: $color-black;
                    text-decoration: none;

                    &:hover {
                        color: $color-blue;
                    }
                }
            }

        }
    }
}

//main
.jumbotron {
    height: 400px;
    background-image: url(../images/jumbotron.jpg);
    position: relative;

    .jumbo-button {
        border: 1px solid $color-blue;
        padding: 5px 40px;
        background-color: $color-blue;
        color: $color-white;
        cursor: pointer;
        position: absolute;
        font-size: 150%;
        bottom: -20px;
        left: 17%;
    }

}

.button-cards {
    border: 1px solid $color-blue;
    padding: 5px 40px;
    background-color: $color-blue;
    color: $color-white;
    cursor: pointer;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
}

main {
    position: relative;
    z-index: 2;

}

//card
.card {
    flex-basis: calc(100% / 6);

    img {
        display: block;
        padding: 10px;
        max-width: 100%;
        height: auto;
        cursor: pointer;

    }

    h3 {
        color: white;
        padding-right: 5px;
        margin-left: 10px;
    }
}

.card-container {
    background-color: $color-black;
    width: 100%;

    .content {
        width: 1200px;
        margin: auto;
        min-height: 100px;
        display: flex;
        flex-wrap: wrap;
        padding-top: 50px;
        padding-bottom: 60px;



        h1 {
            padding-top: 30px;
            color: $color-white;
        }

    }

}

//footer
.container-index {
    height: 400px;
    background-image: url(/public/images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .index-recap {
        width: 1200px;
        margin: auto;
        display: flex;
        position: relative;

        a {
            color: $color-white;
            text-decoration: none;
        }

        .row {
            width: calc(100% / 2);
            display: flex;
            gap: 30px;
            padding-top: 30px;

            .column {
                h2 {
                    color: $color-white ;
                    margin-bottom: 10px;
                }

                ul {
                    list-style-type: none;
                    margin-bottom: 30px;
                }
            }
        }

    }

}

.figure-jumbotron {
    z-index: 1;
    position: absolute;
    left: 628px;
    bottom: -72px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    width: 500px;

    .img-jumbotron {
        width: 500px;
        transform: rotate(-30deg);
        opacity: 0.6;
    }

}

.navbar-footer {
    height: 150px;
    background-color: rgb(48, 48, 48);
    position: relative;
    z-index: 2;

    section {
        width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        div {
            display: flex;
            justify-content: center;
            align-items: center;

            figure {
                width: 50px;
            }
        }

        button {
            border: 1px solid $color-blue;
            padding: 10px;
            background-color: rgb(48, 48, 48);
            color: $color-white;
            cursor: pointer;
        }

        h2 {
            color: $color-blue ;
            margin-right: 20px;
        }
    }

}